header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #007;
    border-bottom: 10px solid #000;
    padding: 10px 20px;
}

#logo {
    width: 54px;
    height: 54px;
    border: 3px solid black;
}

nav {
    text-align: right;
}

a {
    display: inline-flex;
    align-items: center;
    color: #FFF;
    font-size: 20px;
    font-family: 'Fira Code', Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}

a:before {
    content: "";
    background-color: #700;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

#button {
    display: inline-block;
    background-color: #700;
    box-shadow: 5px 5px 5px #000;
    padding-top: 18px;
    padding-right: 20px;
    padding-bottom: 18px;
    padding-left: 20px;
    /* padding: 18px 20px; */
    /* padding: 18px 20px 18px; */
    /* padding: 18px 20px 18px 20px; */
    margin-right: 0;
    transition: transform 100ms linear, opacity 200ms ease-in-out;
}

#button:hover {
    transform: scale(1.08);
    opacity: 0.9;
}

#button:before {
    margin: 0;
}