#box {
    display: inline-block;
    background-color: var(--color-black-second);
    box-shadow: 10px 10px 0px #000;
    text-align: center;
    padding: 40px 40px;
}

#box h1 {
    margin-bottom: 20px;
}