.card-project {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-second);
    width: 280px;
    height: 280px;
    box-shadow: 10px 10px 0px #FFF;
}

.card-project.-green {
    background-color: #92cc41;
}

.card-project.-yellow {
    background-color: #f7d51d;
}